<div class="text-center design">
  <div class="title has-text-danger is-1 margin-title">ランキング</div>
  <div class="bg-box">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="title is-4 sub">氏</div>
      </div>
    </section>
    <% if @mrs.present? %>
      <div class="columns">
        <% @mrs.each_with_index do |mr, index| %>
          <div class="tile is-vertical is-4">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                  <p class="title"><%= index+1 %>位 ：
                    <%= mr.mr %></p>
                  <p class="subtitle">
                    使われた回数<%= @ranking_mr_counts[mr.id] %></p>
                </article>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="bg-box">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="title is-4 sub">カバネ</div>
      </div>
    </section>
    <% if @surnames.present? %>
      <div class="columns">
        <% @surnames.each_with_index do |surname, index| %>
          <div class="tile is-vertical is-4">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                  <p class="title"><%= index+1 %>位 ：
                    <%= surname.surname %></p>
                  <p class="subtitle">
                    使われた回数<%= @ranking_surname_counts[surname.id] %>
                    %></p>
                </article>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="bg-box">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="title is-4 sub">俗称</div>
      </div>
    </section>
    <% if @commonnames.present? %>
      <div class="columns">
        <% @commonnames.each_with_index do |commonname, index| %>
          <div class="tile is-vertical is-4">
            <div class="tile">
              <div class="tile is-parent is-vertical">
                <article class="tile is-child notification is-primary">
                  <p class="title"><%= index+1 %>位 ：
                    <%= commonname.commonname %></p>
                  <p class="subtitle">
                    使われた回数<%= @ranking_commonname_counts[commonname.id] %></p>
                </article>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
