<div class="result_title">ランキング</div>
<div class="type_name">氏</div>
<% if @mrs.present? %>
  <div class="row">
    <% @mrs.each_with_index do |mr, index| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="type_name_r"><%= mr.mr %></p>
            </div>
            <div class="panel-footer">
              <p class="text-center"><%= index+1 %>位: 使われた回数<%= @ranking_mr_counts[mr.id] %> 回</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="type_name">カバネ</div>
<% if @surnames.present? %>
  <div class="row">
    <% @surnames.each_with_index do |surname, index| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="type_name_r"><%= surname.surname %></p>
            </div>
            <div class="panel-footer">
              <p class="text-center"><%= index+1 %>位: 使われた回数<%= @ranking_surname_counts[surname.id] %> 回</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="type_name">俗称</div>
<% if @commonnames.present? %>
  <div class="row">
    <% @commonnames.each_with_index do |commonname, index| %>
      <div class="item">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="type_name_r"><%= commonname.commonname %></p>
            </div>
            <div class="panel-footer">
              <p class="text-center"><%= index+1 %>位: 使われた回数<%= @ranking_commonname_counts[commonname.id] %> 回</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>