<div class="body">
  <div class="tile">
    <div class="tile is-parent is-vertical ">
      <article class="tile is-child notification is-info text-center is-6">
        <p class="title"><%= @user.name %>さんこんにちは！</p>
        <p class="subtitle">今日は何をされますか？<br>メニューバー からお選びください！</p>
      </article>
    </div>
  </div>

  <div class="text-center">
    <p class="subtitle text-color is-3">今までの作成履歴はこちら！</p>
    <table class="table is-full">
      <thead>
        <tr>
          <th>ID</th>
          <th>氏</th>
          <th>名前</th>
          <th>カバネ</th>
          <th>俗名</th>
          <th>名字</th>
        </tr>
        <% @middles.each do |middle| %>
          <tbody>
            <tr>
              <th><%= middle.id %></th>
              <th><%= middle.mr %></th>
              <th><%= middle.Lname %></th>
              <th><%= middle.surname %></th>
              <th><%= middle.commonname %></th>
              <th><%= middle.Fname %></th>
            </tr>
          </tbody>
        <% end %>
      </thead>
    </table>
  </div>
</div>
