<% if logged_in? %>
  <div>
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to '新規ミドルネーム作成', new_middle_path%></li>
      <li><%= link_to '人気ランキング', rankings_middle_path%></li>
      <li><%= link_to 'ユーザー設定', user_path(current_user) %></a></li>
    </ul>
  </div>
<% else %>
  <%= link_to '新規登録', signup_path, class: 'btn btn-lg btn-primary' %>
  <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
<% end %>