<h1>id: <%= @surname.id %>のカバネ詳細ページ</h1>

<p><%= @surname.surname %></p>

<%= link_to 'カバネ投稿', new_surname_path %>
<%= link_to 'このメッセージを編集する', edit_surname_path(@surname) %>
<%= link_to 'このメッセージを削除する', @surname, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<%= link_to '一覧に戻る', middles_path %>