<div class="text-center design child">
  <div class="title">ミドルネーム作成結果発表！</div>
  <div class="bg-box">
    <h1>
      <%= @middle.mr %>
      <%= @middle.surname %>
      <%= @middle.Lname %>
      <%= @middle.commonname %>
      <%= @middle.Fname %>
    </h1>
  </div>
  <%= link_to '削除', @middle, method: :delete, data: { confirm: '本当に削除してよろしいですか？' },class: 'button is-danger' %>
  <%= link_to 'プロフィール', user_path(current_user),class: 'button is-primary' %>
</div>
