<%#ナビバーのレイアウト%>
<div class="hover_menu">
  <ul class="navbar-left bubble-menu">
    <%#ログインの確認%>
    <% if logged_in? %>
        <ul>
          <li><%= link_to '新規作成', new_middle_path %></li>
          <li><%= link_to 'プロフィール', user_path(current_user) %></li>
          <li><%= link_to 'ランキング', rankings_middle_path %></li>
          <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
    <% else %>
      <li><%= link_to 'ホーム', root_path,data: {"turbolinks" => false} %></li>
      <li><%= link_to 'サインイン', signup_path,data: {"turbolinks" => false} %></li>
      <li><%= link_to 'ログイン', login_path,data: {"turbolinks" => false} %></li>
    <% end %>
  </ul>
  <div class="ex_nav">←メニューはこちら！触ってみて！</div>
  <div class="ex_nav_sp">↑メニューはこちら！触ってみて！</div>
</div>



