<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
      <% if logged_in? %>
        <%= link_to user_path(current_user) do %>
          <%= image_tag 'JapaneseMiddleName.png', :width => '112', :height => '28'%>
        <% end %>
      <% else %>
        <%= link_to root_path, data: {"turbolinks" => false} do %>
          <%= image_tag 'JapaneseMiddleName.png', :width => '112', :height => '28'%>
        <% end %>
      <% end %>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%#ログインの確認%>
    <% if logged_in? %>
      <%= link_to '新規作成', new_middle_path, class: "navbar-item" %>
      <%= link_to 'プロフィール', user_path(current_user), class: "navbar-item" %>
      <%= link_to 'ランキング', rankings_middle_path, class: "navbar-item" %>
      <%= link_to 'ログアウト', logout_path, method: :delete, class: "navbar-item" %>
    <% else %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <strong>
            <%= link_to '新規登録画面', signup_path,data: {"turbolinks" => false}, class: "button is-primary" %>
          </strong>
          <%= link_to 'ログイン画面', login_path,data: {"turbolinks" => false}, class: "button is-light" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= render 'layouts/flash_messages' %>
</nav>
