<!DOCTYPE html>
<html>
  <head>
    <title>MiddleName</title>
    
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%#ナビバーの表示位置%>
    <div class="back">
      <%= render 'layouts/navbar' %>
    </div>
    <div class="back-title">
      <%= image_tag 'backimage2.jpg' %><br>
      <p>
      日本では、古来からカバネや氏などを今の苗字と名前の間に挟んでいました。</br>
      もし、現代の名前で間にミドルネームを入れるとどうなるかを検証できるページです！
      </p>
    </div>
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </body>
</html>
