<!DOCTYPE html>
<html>
  <head>
    <title>MiddleName</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>

    <!--ナビバーのSCSS-->
    <%= stylesheet_link_tag "navbar", :media => "all" %>
    <!-- animate.css  -->
    <%= stylesheet_link_tag "animate", :media => "all" %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag('JapaneseMiddleName.ico') %>

  </head>
  <body>
    <%#ナビバーの表示位置%>
    <div class="bg">
      <%= render 'layouts/navbar' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
